h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input:focus, button:focus, textarea:focus, select:focus {
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FFF;
  color: #000000;
}

.flex {
  display: flex;
}

section {
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  section {
    padding-bottom: 100px;
  }
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  outline: 1px solid blue;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 24px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.section-title {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 700;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .section-title {
    margin-bottom: 60px;
    font-size: 44px;
    gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .section-title {
    margin-bottom: 80px;
  }
}

.section-title::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #000000;
  flex-grow: 1;
}

.section-button {
  display: block;
  margin: 0 auto;
  border: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  padding: 10px 0px 10px 0px;
  width: 208px;
  border-radius: 38px;
  background-color: #E86F54;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .section-button {
    width: 280px;
    font-size: 28px;
    line-height: 86%;
    padding: 20px 0px 20px 0px;
  }
}
.section-button:hover {
  background-color: #E25B41;
}

.header {
  padding-top: 16px;
  padding-bottom: 17px;
}
.header-logo {
  margin-right: 80px;
}
@media (min-width: 1280px) {
  .header-logo {
    margin-right: 261px;
  }
}
.header-logo-icon {
  width: 45px;
  height: 35px;
}
@media (min-width: 768px) {
  .header-logo-icon {
    width: 72px;
    height: 57px;
  }
}
.header-nav-list {
  display: none;
}
@media (min-width: 768px) {
  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
.header-nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.header-btn-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: auto;
}
.header-btn-menu {
  margin-left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .header-btn-menu {
    display: none;
  }
}
.header-tel-icon {
  width: 22px;
  height: 22px;
}
@media (min-width: 768px) {
  .header-tel-icon {
    width: 24px;
    height: 24px;
  }
}
.header-burger-icon {
  width: 24px;
  height: 24px;
}

.hero {
  padding-bottom: 100px;
  padding-top: 95px;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__text {
  height: 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  padding-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .hero__text {
    width: 76px;
    height: 58px;
    font-size: 24px;
    padding-left: 49px;
    margin-right: 110px;
  }
}
@media screen and (min-width: 1288px) {
  .hero__text {
    width: 101px;
    height: 78px;
    font-size: 32px;
    padding-left: 0;
    margin-right: 0;
  }
}

.hero__title {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  font-size: 52px;
  line-height: 1.2;
  margin-top: -25px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 120px;
    margin-top: -52px;
  }
}
@media screen and (min-width: 1288px) {
  .hero__title {
    font-size: 160px;
    margin-top: -77px;
  }
}

.hero__button {
  background-color: inherit;
  border: none;
  padding: 0;
  margin-left: 0;
  cursor: pointer;
}

.hero__icons {
  width: 64px;
  height: 76px;
  margin-left: 9px;
}
@media screen and (min-width: 768px) {
  .hero__icons {
    width: 145px;
    height: 150px;
    margin-left: 39px;
  }
}
@media screen and (min-width: 1288px) {
  .hero__icons {
    width: 166px;
    height: 166px;
    margin-left: 110px;
  }
}

.hero__background {
  width: 145px;
  height: 274px;
}
@media screen and (min-width: 768px) {
  .hero__background {
    width: 390px;
    height: 636px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1288px) {
  .hero__background {
    height: 636px;
    margin-left: 110px;
  }
}

.about-title {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .about-title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .about-title {
    margin-bottom: 26px;
  }
}
.about-text {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .about-text {
    font-size: 20px;
    width: 322px;
  }
}
.about-img {
  width: 288px;
}
@media screen and (min-width: 768px) {
  .about-img {
    width: 344px;
  }
}
.about-flex {
  width: 100%;
  display: block;
}
@media screen and (min-width: 768px) {
  .about-flex {
    display: flex;
    gap: 54px;
  }
}

.store-title {
  margin-bottom: 80px;
}
.store-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .store-list {
    gap: 32px;
    margin-bottom: 60px;
  }
}
.store-item {
  width: 136px;
}
@media screen and (min-width: 768px) {
  .store-item {
    width: 344px;
  }
}
@media screen and (min-width: 1280px) {
  .store-item {
    width: 600px;
  }
}
.store-description {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .store-description {
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .store-description {
    font-size: 36px;
  }
}
.store-description::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #000000;
  flex-grow: 1;
}
.store-price {
  font-weight: 600;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 768px) {
  .store-price {
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .store-price {
    font-size: 28px;
  }
}

.delivery {
  padding-top: 60px;
}
.delivery__title {
  font-weight: 700;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .delivery__title {
    font-weight: 700;
    font-size: 44px;
    margin-left: 24px;
  }
}
.delivery__list {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .delivery__list {
    margin-bottom: 40px;
  }
}
.delivery__item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  margin-bottom: 14px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .delivery__item {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    gap: 20px;
    height: 64px;
    align-items: center;
    margin-bottom: 20px;
  }
}
.delivery__span {
  font-weight: 500;
  font-size: 20px;
  border-radius: 100%;
  border: 1px solid #000;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
@media screen and (min-width: 768px) {
  .delivery__span {
    max-width: 64px;
    max-height: 64px;
    height: 64px;
  }
}
.delivery__img {
  padding: 0;
}
@media screen and (min-width: 1280px) {
  .delivery__img {
    width: 1280px;
    height: 391px;
  }
}

.blog-section-title {
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .blog-section-title {
    font-size: 44px;
  }
}

.folllow-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #000;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .folllow-h2 {
    font-size: 32px;
  }
}

.blog img {
  max-width: 100%;
  height: 100%;
}

/* subscribe btn */
.subscribeBtn {
  padding: 8px 40px;
}
@media screen and (min-width: 768px) {
  .subscribeBtn {
    padding: 20px 69px;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

/*  */
.swiper {
  margin-bottom: 28px;
  height: 181px;
  margin-right: -16px;
  margin-left: -16px;
}

.swiper-wrapper {
  height: 181px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 153px;
  height: 181px;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 999;
  width: 41px;
  height: 27px;
  background-size: contain;
}

.swiper-button-prev {
  background-image: url("./arrow-prev.svg");
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

.swiper-button-next {
  background-image: url("./arrow-next.svg");
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 24px;
    width: 768px;
  }
  .swiper {
    height: 398px;
    margin-right: -24px;
    margin-left: -24px;
  }
  .swiper-wrapper {
    height: 398px;
  }
  .swiper-slide {
    width: 344px;
    height: 398px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 96px;
    height: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
  .swiper {
    height: 420px;
    margin-left: 0;
    margin-right: 0;
    overflow: visible;
  }
  .swiper-wrapper {
    height: 420px;
  }
  .swiper-slide {
    width: 390px;
    height: 420px;
  }
  .swiper-button-prev {
    left: -24px;
  }
  .swiper-button-next {
    right: -24px;
  }
}
.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.blog {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .mobile-btn {
    display: none;
  }
}

.tablet-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .tablet-btn {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .tablet-btn {
    display: none;
  }
}

.footer {
  background-color: #000000;
  color: #FFFFFF;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

@media screen and (max-width: 1199px) {
  .footer-logo {
    display: none;
  }
}

.footer-logo-icon {
  fill: currentColor;
}

.footer-social-icon {
  fill: currentColor;
  width: 28px;
  height: 28px;
}

.text-container {
  width: 128px;
}

.footer-title {
  margin-bottom: 18px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  word-wrap: break-word;
}

.subscribe_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 272px;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
}
@media (min-width: 768px) {
  .subscribe_modal {
    width: 588px;
  }
}
@media (min-width: 1200px) {
  .subscribe_modal {
    width: 860px;
    flex-direction: row;
  }
}

.subscribe_modal::before {
  content: "";
  width: 100%;
  height: 120px;
  background-size: cover;
  display: block;
  background-color: #FFFFFF;
  background-image: url("../../images/subscribe_modal/subscribe_phone_1x.jpg");
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .subscribe_modal::before {
    background-image: url("../../images/subscribe_modal/subscribe_phone_2x.jpg");
  }
}
@media (min-width: 768px) {
  .subscribe_modal::before {
    height: 272px;
    background-image: url("../../images/subscribe_modal/subscribe_tablet_1x.jpg");
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .subscribe_modal::before {
    background-image: url("../../images/subscribe_modal/subscribe_tablet_2x.jpg");
  }
}
@media (min-width: 1200px) {
  .subscribe_modal::before {
    display: flex;
    width: 428px;
    height: 528px;
    background-image: url("../../images/subscribe_modal/subscribe_desktop_1x.jpg");
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .subscribe_modal::before {
    background-image: url("../../images/subscribe_modal/subscribe_desktop_2x.jpg");
  }
}

.subscribe_modal_title {
  margin-bottom: 14px;
  text-align: center;
  font-weight: 600;
  font-size: 19px;
  text-align: center;
  color: #000;
}
@media (min-width: 768px) {
  .subscribe_modal_title {
    font-size: 28px;
    margin-bottom: 24px;
  }
}

.subscribe_modal_description {
  text-align: center;
  margin-bottom: 18px;
  max-width: 236px;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: #5c5c5c;
}
@media (min-width: 768px) {
  .subscribe_modal_description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 336px;
  }
}

.subscribe_modal_form {
  display: flex;
  flex-direction: column;
}

.subscribe_modal_label {
  font-weight: 500;
  font-size: 10px;
  margin-bottom: 5px;
  color: #5c5c5c;
}
@media (min-width: 768px) {
  .subscribe_modal_label {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.subscribe_modal_input {
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  width: 236px;
  height: 35px;
  margin-bottom: 18px;
  transition-property: border;
  transition-duration: 750ms;
  transition-timing-function: linear;
}
@media (min-width: 768px) {
  .subscribe_modal_input {
    width: 336px;
    height: 50px;
    margin-bottom: 28px;
  }
}

.subscribe_modal_input:hover {
  border: 1px solid #8b8b8b;
  transition-property: border;
  transition-duration: 750ms;
  transition-timing-function: linear;
}

.subscribe_modal_input::-moz-placeholder {
  font-weight: 500;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.subscribe_modal_input::placeholder {
  font-weight: 500;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 768px) {
  .subscribe_modal_input::-moz-placeholder {
    font-size: 14px;
  }
  .subscribe_modal_input::placeholder {
    font-size: 14px;
  }
}

.subscribe_modal_submit-button {
  padding: 10px 82px;
  border-radius: 8px;
  border: none;
  width: 236px;
  height: 35px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  background-color: #E86F54;
  transition-property: background-color;
  transition-duration: 750ms;
  transition-timing-function: linear;
}
@media (min-width: 768px) {
  .subscribe_modal_submit-button {
    font-size: 18px;
    width: 336px;
    height: 50px;
    padding: 14px 122px;
  }
}

.subscribe_modal_submit-button:hover {
  background-color: #E25B41;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 750ms;
  transition-timing-function: linear;
}

.subscribe_div {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .subscribe_div {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .subscribe_div {
    padding-left: 40px;
    margin-bottom: 112px;
  }
}

.close_button {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 10px;
  right: 10px;
}
@media (min-width: 768px) {
  .close_button {
    width: 24px;
    height: 24px;
  }
}

.close_button_svg {
  fill: #000000;
}

.backdrop {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  overflow-y: auto;
  visibility: visible;
  transition: opacity 500ms ease-in-out, visibility 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 1000ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */