.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }
  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $secondary-color;
    width: 272px;
    padding: 28px 16px;
    
  }
  
.modal-close-button {
    top: 8px;
    right: 8px;
     position: absolute;
     width: 30px;
     height: 30px;
     border-radius: 66px;
     background: none;
     border: 1px solid rgba(0, 0, 0, 0.1);
     display: flex;
     justify-content: center;
     opacity: 20px;
     fill: #000000;
     transition-property: color;
     opacity: calc(1);
     translate: scale(x,y);
     transition-duration: 250ms;
     transform: scale(1);
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

