.delivery {

    &__span {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 20px;
        color: #000;
        display: block;
        border-radius: 100%;
<<<<<<< Updated upstream
        stroke-width: 1px;
=======
        border-radius: 1px;
>>>>>>> Stashed changes
    }

    &__item {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 14px;
        color: #000;
    }

    &__img {
        width: 320px;
        height: 135px;
    }
}