.footer {
  background-color: $main-color;
  color: $secondary-color;
  padding-top:32px ;
  padding-bottom: 32px;
@media screen and (min-width: 768px) {
    padding-top:60px ;
     padding-bottom: 60px;
  }
@media screen and (min-width: 1280px) {
    padding-top:72px ;
     padding-bottom: 72px;
  }
}
.footer-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
@media screen and (min-width: 1280px) {
    gap: 96px;
  }
}
.footer-logo {

margin-right: 160px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.footer-logo-icon {
width: 73px;
height: 57px;
  fill: currentColor;
}
.footer-social-icon {
  fill: currentColor;
  width: 28px;
  height: 28px;
}

.text-container {
width: 128px;
@media screen and (min-width: 768px) {
    width: 152px;
  }
}
.footer-title{
font-family: $second-family;
font-weight: 700;
font-size: 18px;
  margin-bottom:18px ;
}
.footer-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
@media screen and (max-width: 767px) {
    word-wrap: break-word;
  }
  
}

.footer-social-list {
  display: flex;
  gap: 14px;
  margin-left: auto;
@media screen and (min-width: 768px) {
    flex-direction: column;
  }
}